* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(36, 55, 99, 255);
}
.navbar{
  background-color: #ff6e31 !important;
}
#navbarSupportedContent ul{
  margin-left: auto;
  margin-right: 0 !important;
}
.bottom-left {
  position: absolute;
  bottom: 20px;
  left: 40px;
  font-size: 70px;
  color: white;
}
/* Remember to refer this <p> to a parent class/ID */
p {
  text-align: justify;
  text-justify: inter-word;
  color: white;
}
.logo {
  text-align: center;
}
.text {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: black;
  background: rgb(36, 55, 99, 255, 0.5);
}

.container {
  color: #ff6e31;
}
a {
  color: white;
}
.links {
  text-align: center;
  display: block;
  color: white;
}

/*news Part*/

.grid {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}

.grid-item {
  background-color: #243763;
  border-radius: 0.4 rem;
  box-shadow: 0 3rem 6rem #ff9d72;
  cursor: pointer;
  transition: 0.2s;
}

.grid-item:hover {
  transform: translateY(-0.5%);
  box-shadow: rgba(0, 0, 0, 0.5);
}

.card-img{
  display: block;
  width: 100%;
  height: 20rem;
  object-fit: cover;
}
.card-content {
  padding: 3rem;
  background-color: #243763;
}

.card-header {
  font-size: 22px;
  color: #e1d7c6;
  margin-bottom: 10px;
}
.card-text {
  font-size: 18px;
  letter-spacing: 0.3px;
  line-height: 1.7;
  color: #eae3d2;
  margin-bottom: 2.5rem;
}

.card-btn {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  color: #e1d7c6;
  background-color: #ff6e31;
  border: none;
  border-radius: 0, 4rem;
  transition: 0.2s;
  cursor: pointer;
  letter-spacing: 0.1rem;
}

.card-btn span {
  margin-left: 1rem;
  transition: 0.2s;
}
.card-btn:hover,
.card-btn:active {
  background-color: #9d370b;
}
.card-btn:hover span,
.card-btn:active span {
  margin-left: 1.5rem;
}
#news {
  padding-top: 20px;
  box-sizing: border-box;
  font-size: 62.5%;
  padding: 15px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;

  min-height: 120vh;
  width: fit-content;
  background-color: #243763;
  font-family: "Poppins", sans-serif;
}

/*end of news part*/
/* Styles for carousel */
#carousel .carousel-item {
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: -1;
}
#carousel .carousel-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: -1;
}
#carousel .carousel-item .container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 50%);
  text-align: center;
}
#carousel .carousel-item h2 {
  font-size: 60px;
  color: #eae3d2;
  margin-top: 5%;
  border-radius: 1em 0 1em 0;
  background-image: linear-gradient(
    -100deg,
    rgba(215, 96, 5, 0.2),
    rgba(215, 96, 5, 0.7) 95%,
    rgba(215, 96, 5, 0.2)
  );
}
#carousel .carousel-item p {
  font-size: 20px;
  color: #fff;
  border-radius: 1em 0 1em 0;
  background-image: linear-gradient(
    -100deg,
    rgba(215, 96, 5, 0.2),
    rgba(215, 96, 5, 0.7) 95%,
    rgba(215, 96, 5, 0.1)
  );
}
#carousel .carousel-item.active h2 {
  animation: fadeInLeft ease forwards;
  animation-duration: 1.5s;
}
#carousel .carousel-item.active p {
  animation: fadeInRight ease forwards;
  animation-duration: 1.5s;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

/*styles for "why hämeenlinna" section*/

.why {
  margin-left: 20%;
  margin-right: 20%;
}
h3 {
  color: white;
}
.w-h {
  /*why-hämeenlinna h3*/
  text-align: center;
  display: block;
  color: white;
  font-size: 40px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
}
.reasons {
  display: inline-block;
  border-style: outset;
  border-color: rgb(120, 120, 120);
  border-radius: 25px;
  background: #ff6e31;
  padding: 30px;
  width: 250px;
  height: 150px;
  color: black;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 650;
  font-size: 17px;
}
.reasons:hover {
  background-color: #ffbd31;
}

/*end of "why hämeenlinna" section*/

.orange {
  color: #ff6e31;
}
.background-color {
  background-color: #ff6e31;
  text-align: left;
  display: block;
}
.copy {
  font-size: 15px;
}

#footer {
  background-color: #ff6e31;
  padding: 30px 0 0 0;
}
.shortcuts a{
  text-align: center;
  display: block;
  color: white; 
}
.hameenlinna-logo{
  padding-bottom: 30px; 
}
.social {
  display: grid;
  justify-content: center;
}
#footer a{
  background-color: #ff6e31;
}
/* Media placement needs to be figured out once all the code is ready */
@media (max-width: 767px) {
  #carousel .carousel-item h2 {
    font-size: 30px;
  }
  #carousel .carousel-item p {
    font-size: 15px;
  }
  #footer p, h3{
    text-align: center; 
  }
  #footer .hameenlinna-logo { 
    display: block; 
    margin: 0 auto; 
  }
  #navbarSupportedContent li{
    margin-left: auto;
    margin-right: 0 !important;
  }
}
