* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(36, 55, 99, 255);
}
.navbar {
  background-color: #ff6e31 !important;
}
#navbarSupportedContent ul {
  margin-left: auto;
  margin-right: 0 !important;
}
.bottom-left {
  position: absolute;
  bottom: 20px;
  left: 40px;
  font-size: 70px;
  color: white;
}
/* Remember to refer this <p> to a parent class/ID */
p {
  text-align: justify;
  text-justify: inter-word;
  color: white;
}
.logo {
  text-align: center;
}
.text {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: black;
  background: rgb(36, 55, 99, 255, 0.5);
}

.container {
  color: #ff6e31;
}
a {
  color: white;
}
.links {
  text-align: center;
  display: block;
  color: white;
}

/*news Part*/
.btn-outline-warning a {
  color: #243763;
}
.btn-outline-warning span {
  color: #243763;
}
.card-text {
  color: #243763;
}
.card-title {
  color: #243763;
}

.card {
  background-color: #ff6e31;
}
/*end of news part*/

/* Styles for carousel */
#carousel .carousel-item {
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: -1;
}
#carousel .carousel-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: -1;
}
#carousel .carousel-item .container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 50%);
  text-align: center;
}
#carousel .carousel-item h2 {
  font-size: 60px;
  color: #eae3d2;
  margin-top: 5%;
  border-radius: 1em 0 1em 0;
  background-image: linear-gradient(
    -100deg,
    rgba(215, 96, 5, 0.2),
    rgba(215, 96, 5, 0.7) 95%,
    rgba(215, 96, 5, 0.2)
  );
}
#carousel .carousel-item p {
  font-size: 20px;
  color: #fff;
  border-radius: 1em 0 1em 0;
  background-image: linear-gradient(
    -100deg,
    rgba(215, 96, 5, 0.2),
    rgba(215, 96, 5, 0.7) 95%,
    rgba(215, 96, 5, 0.1)
  );
}
#carousel .carousel-item.active h2 {
  animation: fadeInLeft ease forwards;
  animation-duration: 1.5s;
}
#carousel .carousel-item.active p {
  animation: fadeInRight ease forwards;
  animation-duration: 1.5s;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

/*styles for "why hämeenlinna" section*/

.why {
  margin-left: 20%;
  margin-right: 20%;
}
h3 {
  color: white;
}
.w-h {
  /*why-hämeenlinna h3*/
  text-align: center;
  display: block;
  color: white;
  font-size: 40px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
}
.reasons {
  display: inline-block;
  border-style: outset;
  border-color: rgb(120, 120, 120);
  border-radius: 25px;
  background: #ff6e31;
  padding: 30px;
  width: 250px;
  height: 150px;
  color: black;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 650;
  font-size: 17px;
}
.reasons:hover {
  background-color: #ffbd31;
}

/*end of "why hämeenlinna" section*/

.orange {
  color: #ff6e31;
}
.background-color {
  background-color: #ff6e31;
  text-align: left;
  display: block;
}
.copy {
  font-size: 15px;
}

#footer {
  background-color: #ff6e31;
  padding: 30px 0 0 0;
}
.shortcuts a {
  text-align: center;
  display: block;
  color: white;
}
.hameenlinna-logo {
  padding-bottom: 30px;
}
.social {
  display: grid;
  justify-content: center;
}
#footer a {
  background-color: #ff6e31;
}
/* Styles for Links section */


.deco {
  color: #000000;
  text-decoration: none;
}

.cardbg {
  background-color: #ff6e31;
  justify-content: center;
}

.cardbg:hover{
  background-color: #ffbd31;
}


.linkCap {
  color: #000000;
}

.linkCap{
  color: #000000
}
.linkCap {
  color: #000000;
}

a:hover {
  text-decoration: underline;
  color: purple;
}

.cardbg{
  background-color:#ffbd31;
}
.cardHeight {
  height: 130px;

}

/* End the Styles for Links section */

/* Media placement needs to be figured out once all the code is ready */
@media (max-width: 767px) {
  #carousel .carousel-item h2 {
    font-size: 30px;
  }
  #carousel .carousel-item p {
    font-size: 15px;
  }
  #footer p,
  h3 {
    text-align: center;
  }
  #footer .hameenlinna-logo {
    display: block;
    margin: 0 auto;
  }
  #navbarSupportedContent li {
    margin-left: auto;
    margin-right: 0 !important;
  }
}
