body {
    background-color: rgb(36,55,99,255);
}
.navbar-custom {
    background-color: #ff6e31;
}
.bottom-left {
    position: absolute;
    bottom: 20px;
    left: 40px;
    font-size: 70px;
    color: white; 
  }
p{
    text-align: justify;
    text-justify: inter-word;
    color: white; 
}
h3{
    color: white; 
}
.y-h{
    text-align: center; 
    display: block; 
}
.logo{
    text-align: center;
}
.dot{
    color: rgb(36,55,99,255);
}
.dot2{
    color:  #ff6e31;
}
.hockey-team:hover{
    opacity: 0.5;
}
.birthday:hover{
opacity: 0.5;
}
.hamk:hover{
opacity: 0.5;
}
.first, .second, .third{
    width: 400px; 
    height: auto;
}

.first {
    opacity: 0.4;
  }
  
  .first:hover {
    opacity: 1.0;
  }
.text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    background: rgb(36,55,99,255, .5)
}
.col-md-4{
    color: white; 
}
.container{
    color: #ff6e31; 
}
a{
    color: white;
}
.links{
    text-align: center; 
    display:block;
    color: white; 
}
.reasons{
    border-radius: 25px;
    background: #ff6e31;
    padding: 35px;
    width: 200px;
    height: 150px;
    color: white; 
}
.orange{
    color: #ff6e31;
}
.background-color{
    background-color: #ff6e31;
    text-align: left; 
    display: block; 
}
#hameenlinna-logo{
    height: auto;
  max-width: 50%;
}
.copy{
    font-size: 15px;
}